ion-content{
    --ion-background-color:rgb(253, 253, 253);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .background-container{
  height: 100vh;
  width: 100%;
  display: flex;
  //background: url('assets/img/clicksafe.jpg');
  background-color: rgb(89, 141, 30);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  flex-direction: column;
  justify-content: center;
  
  }
  
  ion-card{
  text-align: center;
  background: transparent;
  box-shadow: none;
  
  img{
     margin-top: 50px;
     height: 45%;
     width: 90%;
  }
  ion-card-title{
     font-size: 30px;
     color: #000000;
     font-weight: 500;
  
  }
  
  
  ion-card-content{
  margin-top: 10px;
  
  ion-button{
      width: 180px;
      height: 60px;
      --border-radius: 40px;
      --background: #562ea0;
      color:rgb(183, 79, 214);
      font-weight: 400;
      text-transform: none;
      font-size: 20px;
  }
  }
  }
  
  @media screen and (min-width:500px){
    .background-filter{
        height: 100%;
        width: 100%;
        background: rgba(174, 87, 196, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  }
  