<ion-header>
  <ion-header [translucent]="true">
      <ion-toolbar>
      </ion-toolbar>
    </ion-header>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="background-container">
    <div class="background-filter">
    <ion-card>
     <ion-card-header>
       <ion-card-title>
       My Yaya
       </ion-card-title>
     </ion-card-header>
  
    <ion-button color="dark" expand="block" routerLink ="/homepage">Welcome</ion-button><br>
    </ion-card>
    </div>
  </div>
</ion-content>
